/* about.html medium width */

body {
    align-content: flex-start;
    z-index: 0;
}

header {
    width: 100%;
}

main {
    flex: 1;
    flex-flow: column nowrap;
    width: 90%;
}

main > * {
    height: fit-content;
    width: fit-content;
    max-width: 100%;
}

.contact-info {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: light-dark(var(--light-footer-bg), var(--dark-footer-bg));
    border: solid 3px;
    border-radius: 15px;
    border-color: light-dark(var(--light-bold), var(--dark-bold));
    padding: 1rem;
}

.contact-info h3 {
    margin: 0;
    margin-right: 1rem;
}

.contact-info p {
    margin: 0;
}

@media screen and (min-width: 700px){

    header {
        display: flex;
        flex-flow: row wrap;
        background-color: light-dark(var(--light-footer-bg), var(--dark-footer-bg));
        align-items: center;
    }

    #header-div {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        align-content: stretch;
    }

    #header-div > ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    #header-div > ul > * {
        border: 0;
    }

    #menu-toggle {
        margin-right: 25px;
    }

    .top-navigation-bar {
        width: 100%;
        max-height: 5em;
    }

    .navigation-item {
        width: auto;
        border-top: 0;
        display: flex;
        align-items: center;
    }

    .navigation-item.active {
        background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
    }

    .button{
        width: 100px;
    }

}

/* about.html large width */

@media screen and (min-width: 1050px){

    #button-div {
        display: flex;
        flex-flow: row nowrap;
    }

}

