:root {

    color-scheme: light dark; 

    /* Colo palette */
    --darkest-color: #2C3532;
    --dark-color: #0F6466;
    --normal-color: #D8B08C;
    --light-color: #FFCB9A;
    --lightest-color: #D2E8E3;

    --light-main-bg: var(--light-color);
    --light-footer-bg: var(--lightest-color);
    --light-items: var(--normal-color);
    --light-items-hover: var(--light-color);
    --light-text: var(--darkest-color);

    --dark-main-bg: var(--dark-color);
    --dark-footer-bg: var(--darkest-color);
    --dark-items: var(--normal-color);
    --dark-items-hover: var(--dark-color);
    --dark-text: var(--lightest-color);

    /* Transition times*/
    --normal-speed: 1s;
    --fast-speed: 0.5s;
    --welcome-speed: 1.5s;
}

/* Mobile devices first
/* Tags */
* {
    color: light-dark(var(--light-text), var(--dark-text));
}

body {
    background-color: light-dark(var(--light-main-bg), var(--dark-main-bg));
    min-height: 100vh;
    max-width: 100vw;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: background-color var(--normal-speed);
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

h2 {
    font-size: 1.2rem;
    margin: 0;
}

main {
    max-width: 90%;
    margin: 2em 0 0;
    display: flex;
    flex-flow: row wrap;
}

body > * {
    width: 100%;
}

main > * {
    width: 100%;
    margin: 0 0 2em;
}

footer {
    min-height: 100px;
    padding: 0;
    background-color: light-dark(var(--light-footer-bg), var(--dark-footer-bg));
    order: 4;
    transition: inherit;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
}

i {
    color: light-dark(var(--light-items), var(--dark-items));
    font-size: 3em;
}

i:hover {
    color: light-dark(var(--light-items-hover), var(--dark-items-hover));
    transition: color var(--fast-speed);
}

/* Classes */

/*This class simply gives the default os theme*/
.os{}

.dark{
    color-scheme: dark;
}

.light{
    color-scheme: white;
}

.top-navigation-bar {
    max-height: 25em;
    padding: 0;
    background-color: light-dark(var(--light-footer-bg), var(--dark-footer-bg));
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
    transition: 
       max-height var(--normal-speed) cubic-bezier(0, 0, 0.1, 0.9);
}

.top-navigation-bar > ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.navigation-item {
    width: 100%;
    margin: 0;
    padding: 1.5em;
    border-bottom: solid 1px;
    border-color: light-dark(var(--light-items-hover), var(--dark-items-hover));
    justify-content: space-between;
}

.navigation-item:hover {
    background-color: light-dark(var(--light-items-hover), var(--dark-items-hover));
    transition: background-color var(--fast-speed);
}

.navigation-item.active {
    box-sizing: border-box;
    background-color: light-dark(var(--light-items-hover), var(--dark-items-hover));
    border-bottom: solid 2px;
    border-color: light-dark(var(--light-footer-bg), var(--dark-footer-bg));
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all var(--normal-speed);
}

.navigation-item.active > button {
    width: 35px;
    height: 35px;
}

.button-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.button, .button a{
    color: light-dark(var(--light-text), var(--dark-text));
    background-color: light-dark(var(--light-footer-bg), var(--dark-footer-bg));

    border: none;
    margin: 0;
    padding: 1em 0em;

    font-family: inherit;
    font-size: 15px;
    gap: 0.5em;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    transition:
        width var(--fast-speed),
        background-color var(--normal-speed);
}

.theme-button{
    width: 90px;
}

.language-button{
    width: 80px;
}

.button > span{
    pointer-events: none;
    overflow: hidden;
    font-size: 20px;
    min-width: 20px;
    min-height: 20px;
}

.button.hidden {
    width: 0;
}

.top-navigation-bar.hidden {
    max-height: 0;
}

#header-title {
    padding: 0;
    order: 0;
    height: auto;
    display: grid;
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    grid-column: 1;
    grid-row: 1;
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.title:nth-child(1){
    animation: var(--welcome-speed) title_animation;
    animation-delay: calc(1s + var(--welcome-speed));
}

.title:nth-child(2){
    animation: var(--welcome-speed) title_animation;
    animation-delay: calc(1s + 2 * var(--welcome-speed));
}

.title:nth-child(3){
    animation: var(--welcome-speed) show;
    animation-delay: calc(1s + 3 * var(--welcome-speed));
    animation-fill-mode: forwards;
}

/*h1.title::before{
    content: "I'm "
}

h1.title::after{
    content: "."
}
*/

.profile-picture {
    border-radius: 30px;
    border: solid 3px;
    border-color: light-dark(var(--normal-color), var(--normal-color));
    opacity: 0;
    animation: var(--welcome-speed) ease-out show;
    animation-delay: var(--normal-speed);
    animation-fill-mode: forwards;
    order: 1;
}

.text-wrapper {
    order: 2;
    opacity: 0;
    animation: var(--welcome-speed) show;
    animation-delay: calc(1s + 3.5 * var(--welcome-speed));
    animation-fill-mode: forwards;
}

p {
    line-height: 30px;
    margin: 0 0 1rem;
    text-align: justify;
}

/* Animation */

@keyframes show {

from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

@keyframes title_animation {

from {
    opacity: 0;
}

25%, 75% {
    opacity: 1;
}

to {
    opacity: 0;
}
}

/* Landscape orientation */

@media screen and (orientation: landscape){

header {
    display: flex;
}

.top-navigation-bar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top-navigation-bar > ul {
    display: flex;
    flex-flow: row wrap;
}

.navigation-item {
    width: auto;
    border-bottom: 0;
}

.navigation-item.active{
    border: 0;
}

.button-wrapper {
    min-width: 50%;
}

}

